html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  position: fixed;
}

#playground {
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  background-color: gray;
  position: relative;
}

#playground .close {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

#playground .info {
  padding: 10px 10px 5px;
  font-size: 20px;
}

#playground .block {
  display: none;
}

#playground .signature {
  margin: 0 10px 0;
  width: 75%;
  font-size: 20px;
}

#playground .input {
  padding: 0 10px;
  font-size: 20px;
}

#playground .debug {
  color: green;
  margin: 5px;
  cursor: pointer;
  margin-left: 60px;
}

#playground .args {
  margin: 0 10px 0;
  width: 75%;
  font-size: 20px;
}

#playground .code,
#playground .result,
#playground .logs {
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

#playground .code {
  height: 40%;
}

#playground .result {
  height: 25%;
}

#playground .logs {
  height: 16%;
}

#playground .content {
  width: 100%;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

#playground .content::after {
  color: #000;
  content: attr(data-bg-text);
  display: block;
  font-size: 40px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 15px;
  color: lightgray;
  opacity: 0.7;
}