html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    position: fixed;
}

.debugCmd-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 80%;
    background-color: white;
    white-space: nowrap;
}

.debugCmd-result > .json-container {
    height: 60%;
    overflow: auto;
}

.debugCmd-logs {
    height: 40%;
    overflow: auto;
}
